.btn {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 200%;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 40px;
  background: rgb(255, 137, 34);
  border: none;
  cursor: pointer;
  padding: 8px 32px;
  max-width: 204px;
  width: 100%;
}
