ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 30px;
  li {
    color: rgb(47, 47, 47);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 200%;
    letter-spacing: 0%;
    text-align: left;

    &:hover {
      color: rgb(255, 137, 34);
      cursor: pointer;
    }
  }
}
